{% load coffee_table %}

<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
      }
     </style>
  </head>
  <body>
	<div class="container">
		{% coffee_table object_list field_names='name, content_type' paginate_by='10' table_class='table table-condensed' checkbox_column=True primary_key_column=True help_text=True %}
	</div>
    <script type="text/javascript" src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script>
      // When the user clicks the checkbox in table head, select all checkboxes in table body
      $(function () {
        $(".table thead tr th.select input:checkbox").click( function () {
          $(this).closest('table').find(':checkbox').prop('checked', this.checked);
        });
      });
    </script>
  </body>
</html>